<md-dialog aria-label="Mango (Fruit)" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Login</h2>
                <span flex></span>

            </div>
        </md-toolbar>
        <md-dialog-content style="min-width:300px;max-width:1000px;max-height:810px; ">
            <div class="md-dialog-content">

                <md-input-container>
                    <label>E-mail</label>
                    <input ng-model="email" name="from" type="email" required>
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input ng-model="password" name="from" type="password" required>
                </md-input-container>
            </div>

        </md-dialog-content>
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button ng-click="answer('login')">
                Login
            </md-button>
        </div>
    </form>
</md-dialog>