<!DOCTYPE html>
<html lang="en">

<head>
    <title>JoinMyUber</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.min.css" />
    <link rel="stylesheet" href="./assets/app.css" />



    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        
        [ng\:cloak],
        [ng-cloak],
        [data-ng-cloak],
        [x-ng-cloak],
        .ng-cloak,
        .x-ng-cloak {
            display: none !important;
        }
    </style>

</head>

<!--<body ng-app="starterApp" layout="row" ng-controller="UserController as ul" ng-cloak>-->

<body ng-app="starterApp" layout="row" ng-controller="LoginController as lc" ng-cloak>

    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">

        <md-toolbar class="md-whiteframe-z1">
            <h1>Menu</h1>
        </md-toolbar>

        <md-list>
            <md-button href="#welcome" ng-class="ul.getClass('/welcome')">
                <md-icon md-svg-icon="/assets/svg/home153.svg" class="avatar"></md-icon>
                Home
            </md-button>
            </md-list-item>

            <md-list-item ng-controller="GroupController as gc">
                <md-button ng-click="gc.loadRides()" href="#group" ng-class="ul.getClass('/group')">
                    <md-icon md-svg-icon="/assets/svg/navigation12.svg" class="avatar"></md-icon>
                    Find Groups
                </md-button>
            </md-list-item>
            <md-list-item>
                <md-button href="#myRide" ng-class="ul.getClass('/myRide')">
                    <md-icon md-svg-icon="/assets/svg/right247.svg" class="avatar"></md-icon>
                    My Rides
                </md-button>
            </md-list-item>
            <md-list-item>
                <md-button href="#createGroup" ng-class="ul.getClass('/createGroup')">
                    <md-icon md-svg-icon="/assets/svg/round75.svg" class="avatar"></md-icon>
                    Create a Group
                </md-button>
            </md-list-item>
        </md-list>

    </md-sidenav>


    <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">

        <md-toolbar layout="row" class="md-whiteframe-z1">
            <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show User List">
                <md-icon md-svg-icon="menu"></md-icon>
            </md-button>
            <h1>JOIN MY UBER</h1>
            <div class="dialog-demo-content" layout="row" layout-wrap layout-margin>
                <md-button ng-show="lc.user.instance.displayName" class="md-primary md-raised" ng-click="lc.showLogoutForm($event)" flex-sm="100" flex-md="100" flex-gt-md="auto">
                    Hello {{lc.user.instance.displayName}}
                </md-button>
                <md-button ng-hide="lc.user.instance.displayName" class="md-primary md-raised" ng-click="lc.showLoginForm($event)" flex-sm="100" flex-md="100" flex-gt-md="auto">
                    Login
                </md-button>
            </div>
        </md-toolbar>



        <md-content ng-view flex>
            <md-icon md-svg-icon="{{ul.selected.avatar}}" class="avatar"></md-icon>
            <h2>{{ul.selected.name}}</h2>
            <p>{{ul.selected.content}}</p>

            <md-button class="contact" md-no-ink ng-click="ul.showContactOptions($event)" aria-label="Contact User">
                <md-tooltip>Contact {{ ul.selected.name }}</md-tooltip>
                <md-icon md-svg-icon="share"></md-icon>
            </md-button>
        </md-content>

    </div>

    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="https://drrjhlchpvi7e.cloudfront.net/libs/stamplay-js-sdk/1.2.9/stamplay.min.js"></script>
    <script src="./bower_components/angular-stamplay.js"></script>
    <script type="text/javascript" src="./bower_components/angular-material/angular-material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>


    <script src="./src/app.js"></script>


    <script src="./src/login/LoginController.js"></script>
    <script src="./src/login/MyUserService.js"></script>

    <script src="./src/group/GroupController.js"></script>
    <script src="./src/group/RideService.js"></script>
    
    
    <script src="./src/myRide/myRideController.js"></script>
    <script src="./src/create/createGroupController.js"></script>
    <script src="./src/signUp/SignUpController.js"></script>



    <script type="text/javascript">
        angular
            .module('starterApp', ['ngMaterial', 'JMU'])
            .config(function ($mdThemingProvider, $mdIconProvider) {

                $mdIconProvider
                    .defaultIconSet("./assets/svg/avatars.svg", 128)
                    .icon("menu", "./assets/svg/menu.svg", 24)
                    .icon("share", "./assets/svg/share.svg", 24)
                    .icon("google_plus", "./assets/svg/google_plus.svg", 512)
                    .icon("hangouts", "./assets/svg/hangouts.svg", 512)
                    .icon("twitter", "./assets/svg/twitter.svg", 512)
                    .icon("phone", "./assets/svg/phone.svg", 512);

                $mdThemingProvider.theme('default')
                    .primaryPalette('green')
                    .accentPalette('red');

            });
    </script>
    <script type="text/javascript">
         window.location.href = "#welcome"
    </script>

</body>

</html>