<div ng-controller="createGroupController as cc" layout="column" ng-cloak class="md-inline-form">
    <md-content  layout-padding layout="row" layout-sm="column">
        <md-input-container>
            <label>from</label>
            <input ng-model="from" name="from" type="text">
        </md-input-container>
        <md-input-container>
            <label>to</label>
            <input ng-model="to" name="to" type="text">
        </md-input-container>
           <md-datepicker ng-model="cc.submissionDate" md-placeholder="Enter date"></md-datepicker>
        <md-button ng-click="cc.createGroup()">
            Create Group
        </md-button>
    </md-content>
</div>