<md-dialog aria-label="Mango (Fruit)" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>SignUp</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        
        <md-dialog-content style="max-width:800px;max-height:810px; ">
            <div class="md-dialog-content">
                <md-input-container>
                    <label>Name</label>
                    <input ng-model="name" name="name" type="text" required>
                </md-input-container>
                <md-input-container>
                    <label>Email</label>
                    <input ng-model="email" name="email" type="email" required>
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input ng-model="password" name="password" type="password" required>
                </md-input-container>

            </div>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <md-button ng-click="answer('signup')" target="_blank" md-autofocus>
                Sign up
            </md-button>
            <span flex></span>
            <md-button ng-click="answer('cancel')">
                Cancel
            </md-button>
        </div>
    </form>
</md-dialog>