<div ng-controller="myRideController as rc" class="ng-scope">
    <md-content id="content" style="overflow: scroll;" class="md-padding">
        <!--<md-card ng-show="rc.user.instance.userInGroups">-->
        <md-card ng-repeat="ride in rc.rides track by $index">
           
            <md-card-content>
                
                <div ng-bind-html="rc.buildLink(ride)"></div>

                <h2 class="md-title">From {{ride.from}} to {{ride.to}}</h2>
                <!--<h2 class="md-title">From {{myRide.from}} to {{myRide.to}}</h2>-->
                <p>
                    <strong>Members</strong>
                    <div ng-repeat="m in ride.member track by $index">
                        {{m.displayName}}
                    </div>


                </p>
            </md-card-content>
            <div class="md-actions" layout="row" layout-align="end center">
                <md-button ng-click="rc.leaveGroup(ride, rc.user.instance.id)">Leave Group</md-button>
                <md-button ng-click="rc.order($event, ride)" ng-if="ride.admin_id == rc.user.instance.id">You are admin, order uber!</md-button>
            </div>
        </md-card>
    </md-content>
</div>