<md-dialog aria-label="Order Uber" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Order the uber</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px; ">
            <div class="md-dialog-content">
                <br/> from: {{groupInstance.from}}
                <br/> to: {{groupInstance.to}}
                <br/>
            </div>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <md-button ng-click="answer('join')" target="_blank" md-autofocus>
                Order now!
            </md-button>
            <span flex></span>
            <md-button ng-click="answer('cancel')">
                cancel
            </md-button>
        </div>
    </form>
</md-dialog>