
<div ng-init="gc.fick='arsch'">
    <md-content id="content" style="overflow: scroll;" class="md-padding">
        <md-card ng-repeat="ride in gc.rideCollection.instance">

            <md-card-content>
                <div ng-bind-html="gc.buildLink(ride)"></div>
                
                <h2 class="md-title">From {{ride.instance.from}} to {{ride.instance.to}}</h2>
                <p ng-hide="ride.instance.admin_id == gc.user.instance.id">
                    Group admin:{{ride.instance.admin_name}}
                </p>

                <p ng-if="ride.instance.admin_id == gc.user.instance.id">
                    YOU ARE GROUP ADMIN!
                </p>
                <!--
                <div ng-repeat="me in ride.instance.member">
                    <p ng-if="me.userId==gc.user.instance.id">My ID is here!</p>
                </div>
                -->
            </md-card-content>
            <span ng-repeat="me in ride.instance.member" class="md-actions" layout="row" layout-align="end center">
                
           
            </span>

            <md-button ng-click="gc.showJoinGroupForm($event, $index)" ng-show="showJoinButton(gc.user.instance.id,ride.instance.member)">Join</md-button>

        </md-card>

    </md-content>
</div>